.modal-full .intensCarrinho {
}

.modal-full .item-carrinho {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-top: 1px solid var(--color-separate);
}

.modal-full .item-carrinho:last-child {
  border-bottom: none;
}

.modal-full .img-produto img {
  width: 100px;
  border-radius: 11px;
}

.modal-full .title-produto {
  color: var(--color-black);
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0;
}

.modal-full .price-produto {
  color: var(--color-primary);
  font-size: 24px;
  margin-bottom: 0;
}

.modal-full .dados-produto {
  flex: 1;
  padding: 0 25px;
}

.modal-full .add-carrinho {
  display: flex;
  text-align: center;
  height: 30px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 765px) {
  .modal-full .img-produto img {
    width: 72px !important;
  }

  .modal-full .dados-produto {
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
  }

  .modal-full .item-carrinho {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .modal-full .title-produto,
  .modal-full .price-produto {
    font-size: 16px !important;
  }

  .wrapper-button {
    margin: auto 0;
  }
}
