.modal-full {
  padding: 50px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.m-body {
  flex: 1;
  overflow: auto;
  overflow-x: hidden;
  padding-bottom: 140px;
}

@media (max-width: 765px) {
  .modal-full {
    padding: 20px;
  }
}
