.nav-link {
  padding: 0 35px !important;
  font-weight: 500 !important;
  color: var(--color-black) !important;
}

.icon-wrapper-header {
  background-color: var(--color-primary) !important;
  border-radius: 12px;
  padding: 5px 8px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 6px;
}

.btn-icon .icon {
  color: var(--color-black);
  width: 25px !important;
  text-aligh: center;
}

@media (max-width: 765px) {
  .navbar-toggle-icon {
    padding-top: 5px;
  }

  .navbar-collapse {
    background-color: var(--color-secondary);
    paddding: 20px;
    text-align: center;
    border-radius: 40px;
  }
}
