.footer {
  background-color: var(--color-secondary);
}

.logo-footer {
  width: 150px;
}

.container-logo-footer,
.container-texto-footer,
.container-redes-footer {
  display: flex;
  align-items: center;
}

.container-logo-footer {
  justify-content: start;
}

.container-texto-footer {
  justify-content: center;
}

.container-redes-footer {
  justify-content: end;
}

@media (max-width: 765px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .container-logo-footer {
    justify-content: center;
  }

  .container-texto-footer {
    display: flex;
    text-align: center;
  }

  .container-redes-footer {
    justify-content: center;
  }
}
